<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>

    <!-- Boxes -->
    <section class="p-5">
      <div class="container">
        <div class="row text-center g-4">
          <% if (products.length > 0) { %> <% products.forEach(product => { %>
          <div class="col-md">
            <div class="card bg-dark text-light">
              <div class="card-body text-center">
                <img
                  src="<%= product.image %>"
                  class="rounded-circle mb-3 w-50"
                  alt=""
                />
                <h3 class="card-title mb-3"><%= product.name %></h3>
                <p class="card-text"><%= product.desc %></p>
                <a href="#" class="btn btn-primary">Read More</a>
              </div>
            </div>
          </div>
          <% }) %> <% } else { %>
          <p>There are no blogs to display...</p>
          <% } %>
        </div>
      </div>
    </section>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
